In [ ]:
#one can log in databricks and can handle big data using pyspark

In [211]:
!pip install pyspark==3.2.2

Requirement already satisfied: pyspark==3.2.2 in c:\users\hp\anaconda3\lib\site-packages (3.2.2)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\hp\anaconda3\lib\site-packages (from pyspark==3.2.2) (0.10.9.5)

In [212]:
import pyspark

In [213]:
import pandas as pd

In [214]:
pd.read_csv('prom.csv')

,employee_id,gender,no_of_trainings,age,length_of_service,avg_training_score
0,65438.0,f,1.0,35.0,8.0,49.0
1,65141.0,m,1.0,30.0,4.0,60.0
2,7513.0,m,1.0,34.0,7.0,50.0
3,2542.0,m,2.0,39.0,10.0,50.0
4,48945.0,m,1.0,45.0,2.0,73.0
5,58896.0,m,2.0,31.0,7.0,85.0
6,20379.0,f,1.0,NaN,5.0,59.0
7,16290.0,m,1.0,33.0,6.0,63.0
8,73202.0,m,1.0,28.0,5.0,83.0
9,28911.0,m,1.0,32.0,5.0,54.0
10,29934.0,m,1.0,30.0,1.0,77.0
11,49017.0,f,1.0,35.0,NaN,50.0
12,NaN,NaN,1.0,49.0,5.0,49.0
13,38401.0,m,2.0,39.0,16.0,NaN
14,77040.0,m,1.0,37.0,7.0,84.0
15,43931.0,m,1.0,37.0,10.0,60.0
16,7152.0,m,NaN,38.0,5.0,77.0
17,9403.0,m,1.0,34.0,4.0,51.0
18,17436.0,m,1.0,34.0,8.0,46.0

In [215]:
from pyspark.sql import SparkSession

In [216]:
#spark = SparkSession.builder.config('spark.port.maxRetries', 100).getOrCreate()

In [217]:
SparkSession.builder.appName('practise').getOrCreate()

In [218]:
spark

In [219]:
#df_spark = spark.read.csv('prom.csv')

In [220]:
#df_spark

In [221]:
#df_pyspark=spark.read.option('header', 'true').csv('prom.csv')

In [222]:
#df_pyspark.show()

In [223]:
#type(df_pyspark)

In [224]:
## check the schema
#df_pyspark.printSchema()

In [225]:
## Use of Inferschema() while reading the file to infer the actual data type as bydefault its a string.

df_pyspark=spark.read.option('header', 'true').csv('prom.csv', inferSchema=True)

In [226]:
df_pyspark.printSchema()

root
 |-- employee_id: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- no_of_trainings: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- length_of_service: integer (nullable = true)
 |-- avg_training_score: integer (nullable = true)

In [227]:
##Loading file

df_pyspark=spark.read.csv('prom.csv', header=True, inferSchema=True)
df_pyspark.show()

+-----------+------+---------------+----+-----------------+------------------+
|employee_id|gender|no_of_trainings| age|length_of_service|avg_training_score|
+-----------+------+---------------+----+-----------------+------------------+
|      65438|     f|              1|  35|                8|                49|
|      65141|     m|              1|  30|                4|                60|
|       7513|     m|              1|  34|                7|                50|
|       2542|     m|              2|  39|               10|                50|
|      48945|     m|              1|  45|                2|                73|
|      58896|     m|              2|  31|                7|                85|
|      20379|     f|              1|null|                5|                59|
|      16290|     m|              1|  33|                6|                63|
|      73202|     m|              1|  28|                5|                83|
|      28911|     m|              1|  32|                5|                54|
|      29934|     m|              1|  30|                1|                77|
|      49017|     f|              1|  35|             null|                50|
|       null|  null|              1|  49|                5|                49|
|      38401|     m|              2|  39|               16|              null|
|      77040|     m|              1|  37|                7|                84|
|      43931|     m|              1|  37|               10|                60|
|       7152|     m|           null|  38|                5|                77|
|       9403|     m|              1|  34|                4|                51|
|      17436|     m|              1|  34|                8|                46|
+-----------+------+---------------+----+-----------------+------------------+

In [228]:
df_pyspark.columns

['employee_id',
 'gender',
 'no_of_trainings',
 'age',
 'length_of_service',
 'avg_training_score']

# Basic Table Operations in "pyspark"

In [229]:
## To show one column
df_pyspark.select('age').show()

+----+
| age|
+----+
|  35|
|  30|
|  34|
|  39|
|  45|
|  31|
|null|
|  33|
|  28|
|  32|
|  30|
|  35|
|  49|
|  39|
|  37|
|  37|
|  38|
|  34|
|  34|
+----+

In [230]:
## To show multiple columns
df_pyspark.select('age','gender').show()

+----+------+
| age|gender|
+----+------+
|  35|     f|
|  30|     m|
|  34|     m|
|  39|     m|
|  45|     m|
|  31|     m|
|null|     f|
|  33|     m|
|  28|     m|
|  32|     m|
|  30|     m|
|  35|     f|
|  49|  null|
|  39|     m|
|  37|     m|
|  37|     m|
|  38|     m|
|  34|     m|
|  34|     m|
+----+------+

In [231]:
df_pyspark.dtypes

[('employee_id', 'int'),
 ('gender', 'string'),
 ('no_of_trainings', 'int'),
 ('age', 'int'),
 ('length_of_service', 'int'),
 ('avg_training_score', 'int')]

In [232]:
df_pyspark.describe().show()

+-------+------------------+------+------------------+-----------------+------------------+------------------+
|summary|       employee_id|gender|   no_of_trainings|              age| length_of_service|avg_training_score|
+-------+------------------+------+------------------+-----------------+------------------+------------------+
|  count|                18|    18|                18|               18|                18|                18|
|   mean|36642.833333333336|  null|1.1666666666666667|35.55555555555556| 6.388888888888889| 62.22222222222222|
| stddev| 24544.38974652684|  null|0.3834824944236852|5.260532540948596|3.3805479696586764|13.833274273438775|
|    min|              2542|     f|                 1|               28|                 1|                46|
|    max|             77040|     m|                 2|               49|                16|                85|
+-------+------------------+------+------------------+-----------------+------------------+------------------+

In [233]:
##Adding column in dataframe
df_pyspark.withColumn('LOS+2', df_pyspark['length_of_service']+2).show()

+-----------+------+---------------+----+-----------------+------------------+-----+
|employee_id|gender|no_of_trainings| age|length_of_service|avg_training_score|LOS+2|
+-----------+------+---------------+----+-----------------+------------------+-----+
|      65438|     f|              1|  35|                8|                49|   10|
|      65141|     m|              1|  30|                4|                60|    6|
|       7513|     m|              1|  34|                7|                50|    9|
|       2542|     m|              2|  39|               10|                50|   12|
|      48945|     m|              1|  45|                2|                73|    4|
|      58896|     m|              2|  31|                7|                85|    9|
|      20379|     f|              1|null|                5|                59|    7|
|      16290|     m|              1|  33|                6|                63|    8|
|      73202|     m|              1|  28|                5|                83|    7|
|      28911|     m|              1|  32|                5|                54|    7|
|      29934|     m|              1|  30|                1|                77|    3|
|      49017|     f|              1|  35|             null|                50| null|
|       null|  null|              1|  49|                5|                49|    7|
|      38401|     m|              2|  39|               16|              null|   18|
|      77040|     m|              1|  37|                7|                84|    9|
|      43931|     m|              1|  37|               10|                60|   12|
|       7152|     m|           null|  38|                5|                77|    7|
|       9403|     m|              1|  34|                4|                51|    6|
|      17436|     m|              1|  34|                8|                46|   10|
+-----------+------+---------------+----+-----------------+------------------+-----+

In [234]:
#Drop the coulumn
df_pyspark=df_pyspark.drop('LOS+2')

In [235]:
df_pyspark.show()

+-----------+------+---------------+----+-----------------+------------------+
|employee_id|gender|no_of_trainings| age|length_of_service|avg_training_score|
+-----------+------+---------------+----+-----------------+------------------+
|      65438|     f|              1|  35|                8|                49|
|      65141|     m|              1|  30|                4|                60|
|       7513|     m|              1|  34|                7|                50|
|       2542|     m|              2|  39|               10|                50|
|      48945|     m|              1|  45|                2|                73|
|      58896|     m|              2|  31|                7|                85|
|      20379|     f|              1|null|                5|                59|
|      16290|     m|              1|  33|                6|                63|
|      73202|     m|              1|  28|                5|                83|
|      28911|     m|              1|  32|                5|                54|
|      29934|     m|              1|  30|                1|                77|
|      49017|     f|              1|  35|             null|                50|
|       null|  null|              1|  49|                5|                49|
|      38401|     m|              2|  39|               16|              null|
|      77040|     m|              1|  37|                7|                84|
|      43931|     m|              1|  37|               10|                60|
|       7152|     m|           null|  38|                5|                77|
|       9403|     m|              1|  34|                4|                51|
|      17436|     m|              1|  34|                8|                46|
+-----------+------+---------------+----+-----------------+------------------+

In [236]:
#rename the column
df_pyspark=df_pyspark.withColumnRenamed('age', 'New_age')

In [237]:
df_pyspark.show()

+-----------+------+---------------+-------+-----------------+------------------+
|employee_id|gender|no_of_trainings|New_age|length_of_service|avg_training_score|
+-----------+------+---------------+-------+-----------------+------------------+
|      65438|     f|              1|     35|                8|                49|
|      65141|     m|              1|     30|                4|                60|
|       7513|     m|              1|     34|                7|                50|
|       2542|     m|              2|     39|               10|                50|
|      48945|     m|              1|     45|                2|                73|
|      58896|     m|              2|     31|                7|                85|
|      20379|     f|              1|   null|                5|                59|
|      16290|     m|              1|     33|                6|                63|
|      73202|     m|              1|     28|                5|                83|
|      28911|     m|              1|     32|                5|                54|
|      29934|     m|              1|     30|                1|                77|
|      49017|     f|              1|     35|             null|                50|
|       null|  null|              1|     49|                5|                49|
|      38401|     m|              2|     39|               16|              null|
|      77040|     m|              1|     37|                7|                84|
|      43931|     m|              1|     37|               10|                60|
|       7152|     m|           null|     38|                5|                77|
|       9403|     m|              1|     34|                4|                51|
|      17436|     m|              1|     34|                8|                46|
+-----------+------+---------------+-------+-----------------+------------------+

# Missing Value Treatment

In [238]:
df_pyspark.na.drop().show()

+-----------+------+---------------+-------+-----------------+------------------+
|employee_id|gender|no_of_trainings|New_age|length_of_service|avg_training_score|
+-----------+------+---------------+-------+-----------------+------------------+
|      65438|     f|              1|     35|                8|                49|
|      65141|     m|              1|     30|                4|                60|
|       7513|     m|              1|     34|                7|                50|
|       2542|     m|              2|     39|               10|                50|
|      48945|     m|              1|     45|                2|                73|
|      58896|     m|              2|     31|                7|                85|
|      16290|     m|              1|     33|                6|                63|
|      73202|     m|              1|     28|                5|                83|
|      28911|     m|              1|     32|                5|                54|
|      29934|     m|              1|     30|                1|                77|
|      77040|     m|              1|     37|                7|                84|
|      43931|     m|              1|     37|               10|                60|
|       9403|     m|              1|     34|                4|                51|
|      17436|     m|              1|     34|                8|                46|
+-----------+------+---------------+-------+-----------------+------------------+

In [239]:
#how=any(default) and how=all(drop if all coulumns in a row are null)
df_pyspark.na.drop(how="any").show()

+-----------+------+---------------+-------+-----------------+------------------+
|employee_id|gender|no_of_trainings|New_age|length_of_service|avg_training_score|
+-----------+------+---------------+-------+-----------------+------------------+
|      65438|     f|              1|     35|                8|                49|
|      65141|     m|              1|     30|                4|                60|
|       7513|     m|              1|     34|                7|                50|
|       2542|     m|              2|     39|               10|                50|
|      48945|     m|              1|     45|                2|                73|
|      58896|     m|              2|     31|                7|                85|
|      16290|     m|              1|     33|                6|                63|
|      73202|     m|              1|     28|                5|                83|
|      28911|     m|              1|     32|                5|                54|
|      29934|     m|              1|     30|                1|                77|
|      77040|     m|              1|     37|                7|                84|
|      43931|     m|              1|     37|               10|                60|
|       9403|     m|              1|     34|                4|                51|
|      17436|     m|              1|     34|                8|                46|
+-----------+------+---------------+-------+-----------------+------------------+

In [240]:
#threshold in null values
df_pyspark.na.drop(how="any",thresh=5).show()

+-----------+------+---------------+-------+-----------------+------------------+
|employee_id|gender|no_of_trainings|New_age|length_of_service|avg_training_score|
+-----------+------+---------------+-------+-----------------+------------------+
|      65438|     f|              1|     35|                8|                49|
|      65141|     m|              1|     30|                4|                60|
|       7513|     m|              1|     34|                7|                50|
|       2542|     m|              2|     39|               10|                50|
|      48945|     m|              1|     45|                2|                73|
|      58896|     m|              2|     31|                7|                85|
|      20379|     f|              1|   null|                5|                59|
|      16290|     m|              1|     33|                6|                63|
|      73202|     m|              1|     28|                5|                83|
|      28911|     m|              1|     32|                5|                54|
|      29934|     m|              1|     30|                1|                77|
|      49017|     f|              1|     35|             null|                50|
|      38401|     m|              2|     39|               16|              null|
|      77040|     m|              1|     37|                7|                84|
|      43931|     m|              1|     37|               10|                60|
|       7152|     m|           null|     38|                5|                77|
|       9403|     m|              1|     34|                4|                51|
|      17436|     m|              1|     34|                8|                46|
+-----------+------+---------------+-------+-----------------+------------------+

In [241]:
#Subset
df_pyspark.na.drop(how="any",subset="New_age").show()

+-----------+------+---------------+-------+-----------------+------------------+
|employee_id|gender|no_of_trainings|New_age|length_of_service|avg_training_score|
+-----------+------+---------------+-------+-----------------+------------------+
|      65438|     f|              1|     35|                8|                49|
|      65141|     m|              1|     30|                4|                60|
|       7513|     m|              1|     34|                7|                50|
|       2542|     m|              2|     39|               10|                50|
|      48945|     m|              1|     45|                2|                73|
|      58896|     m|              2|     31|                7|                85|
|      16290|     m|              1|     33|                6|                63|
|      73202|     m|              1|     28|                5|                83|
|      28911|     m|              1|     32|                5|                54|
|      29934|     m|              1|     30|                1|                77|
|      49017|     f|              1|     35|             null|                50|
|       null|  null|              1|     49|                5|                49|
|      38401|     m|              2|     39|               16|              null|
|      77040|     m|              1|     37|                7|                84|
|      43931|     m|              1|     37|               10|                60|
|       7152|     m|           null|     38|                5|                77|
|       9403|     m|              1|     34|                4|                51|
|      17436|     m|              1|     34|                8|                46|
+-----------+------+---------------+-------+-----------------+------------------+

In [242]:
### Filling the Missing Value in all column
df_pyspark.na.fill('NA').show()

+-----------+------+---------------+-------+-----------------+------------------+
|employee_id|gender|no_of_trainings|New_age|length_of_service|avg_training_score|
+-----------+------+---------------+-------+-----------------+------------------+
|      65438|     f|              1|     35|                8|                49|
|      65141|     m|              1|     30|                4|                60|
|       7513|     m|              1|     34|                7|                50|
|       2542|     m|              2|     39|               10|                50|
|      48945|     m|              1|     45|                2|                73|
|      58896|     m|              2|     31|                7|                85|
|      20379|     f|              1|   null|                5|                59|
|      16290|     m|              1|     33|                6|                63|
|      73202|     m|              1|     28|                5|                83|
|      28911|     m|              1|     32|                5|                54|
|      29934|     m|              1|     30|                1|                77|
|      49017|     f|              1|     35|             null|                50|
|       null|    NA|              1|     49|                5|                49|
|      38401|     m|              2|     39|               16|              null|
|      77040|     m|              1|     37|                7|                84|
|      43931|     m|              1|     37|               10|                60|
|       7152|     m|           null|     38|                5|                77|
|       9403|     m|              1|     34|                4|                51|
|      17436|     m|              1|     34|                8|                46|
+-----------+------+---------------+-------+-----------------+------------------+

In [244]:
### Filling the Missing Value in specific column #??why not changing integer column null values??
df_pyspark.na.fill('Missing Values',['gender','New_age']).show()

+-----------+--------------+---------------+-------+-----------------+------------------+
|employee_id|        gender|no_of_trainings|New_age|length_of_service|avg_training_score|
+-----------+--------------+---------------+-------+-----------------+------------------+
|      65438|             f|              1|     35|                8|                49|
|      65141|             m|              1|     30|                4|                60|
|       7513|             m|              1|     34|                7|                50|
|       2542|             m|              2|     39|               10|                50|
|      48945|             m|              1|     45|                2|                73|
|      58896|             m|              2|     31|                7|                85|
|      20379|             f|              1|   null|                5|                59|
|      16290|             m|              1|     33|                6|                63|
|      73202|             m|              1|     28|                5|                83|
|      28911|             m|              1|     32|                5|                54|
|      29934|             m|              1|     30|                1|                77|
|      49017|             f|              1|     35|             null|                50|
|       null|Missing Values|              1|     49|                5|                49|
|      38401|             m|              2|     39|               16|              null|
|      77040|             m|              1|     37|                7|                84|
|      43931|             m|              1|     37|               10|                60|
|       7152|             m|           null|     38|                5|                77|
|       9403|             m|              1|     34|                4|                51|
|      17436|             m|              1|     34|                8|                46|
+-----------+--------------+---------------+-------+-----------------+------------------+

In [248]:
#integer column values can be iputed with integer value and string with string 
df_pyspark.na.fill({"gender": "unknown", "New_age": "00", "avg_training_score":"00"}).show()

+-----------+-------+---------------+-------+-----------------+------------------+
|employee_id| gender|no_of_trainings|New_age|length_of_service|avg_training_score|
+-----------+-------+---------------+-------+-----------------+------------------+
|      65438|      f|              1|     35|                8|                49|
|      65141|      m|              1|     30|                4|                60|
|       7513|      m|              1|     34|                7|                50|
|       2542|      m|              2|     39|               10|                50|
|      48945|      m|              1|     45|                2|                73|
|      58896|      m|              2|     31|                7|                85|
|      20379|      f|              1|      0|                5|                59|
|      16290|      m|              1|     33|                6|                63|
|      73202|      m|              1|     28|                5|                83|
|      28911|      m|              1|     32|                5|                54|
|      29934|      m|              1|     30|                1|                77|
|      49017|      f|              1|     35|             null|                50|
|       null|unknown|              1|     49|                5|                49|
|      38401|      m|              2|     39|               16|                 0|
|      77040|      m|              1|     37|                7|                84|
|      43931|      m|              1|     37|               10|                60|
|       7152|      m|           null|     38|                5|                77|
|       9403|      m|              1|     34|                4|                51|
|      17436|      m|              1|     34|                8|                46|
+-----------+-------+---------------+-------+-----------------+------------------+

In [249]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['New_age', 'avg_training_score', 'length_of_service'], 
    outputCols=["{}_imputed".format(c) for c in ['New_age', 'avg_training_score', 'length_of_service']]
    ).setStrategy("mean")

In [250]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-----------+------+---------------+-------+-----------------+------------------+---------------+--------------------------+-------------------------+
|employee_id|gender|no_of_trainings|New_age|length_of_service|avg_training_score|New_age_imputed|avg_training_score_imputed|length_of_service_imputed|
+-----------+------+---------------+-------+-----------------+------------------+---------------+--------------------------+-------------------------+
|      65438|     f|              1|     35|                8|                49|             35|                        49|                        8|
|      65141|     m|              1|     30|                4|                60|             30|                        60|                        4|
|       7513|     m|              1|     34|                7|                50|             34|                        50|                        7|
|       2542|     m|              2|     39|               10|                50|             39|                        50|                       10|
|      48945|     m|              1|     45|                2|                73|             45|                        73|                        2|
|      58896|     m|              2|     31|                7|                85|             31|                        85|                        7|
|      20379|     f|              1|   null|                5|                59|             35|                        59|                        5|
|      16290|     m|              1|     33|                6|                63|             33|                        63|                        6|
|      73202|     m|              1|     28|                5|                83|             28|                        83|                        5|
|      28911|     m|              1|     32|                5|                54|             32|                        54|                        5|
|      29934|     m|              1|     30|                1|                77|             30|                        77|                        1|
|      49017|     f|              1|     35|             null|                50|             35|                        50|                        6|
|       null|  null|              1|     49|                5|                49|             49|                        49|                        5|
|      38401|     m|              2|     39|               16|              null|             39|                        62|                       16|
|      77040|     m|              1|     37|                7|                84|             37|                        84|                        7|
|      43931|     m|              1|     37|               10|                60|             37|                        60|                       10|
|       7152|     m|           null|     38|                5|                77|             38|                        77|                        5|
|       9403|     m|              1|     34|                4|                51|             34|                        51|                        4|
|      17436|     m|              1|     34|                8|                46|             34|                        46|                        8|
+-----------+------+---------------+-------+-----------------+------------------+---------------+--------------------------+-------------------------+

# Filter Operations

In [ ]:
#employees Avg training score less than 50

In [251]:
### Salary of the people less than or equal to 20000
df_pyspark.filter("avg_training_score<=50").show()

+-----------+------+---------------+-------+-----------------+------------------+
|employee_id|gender|no_of_trainings|New_age|length_of_service|avg_training_score|
+-----------+------+---------------+-------+-----------------+------------------+
|      65438|     f|              1|     35|                8|                49|
|       7513|     m|              1|     34|                7|                50|
|       2542|     m|              2|     39|               10|                50|
|      49017|     f|              1|     35|             null|                50|
|       null|  null|              1|     49|                5|                49|
|      17436|     m|              1|     34|                8|                46|
+-----------+------+---------------+-------+-----------------+------------------+

In [254]:
df_pyspark.filter("avg_training_score<=50" and "gender=='f'").show()

+-----------+------+---------------+-------+-----------------+------------------+
|employee_id|gender|no_of_trainings|New_age|length_of_service|avg_training_score|
+-----------+------+---------------+-------+-----------------+------------------+
|      65438|     f|              1|     35|                8|                49|
|      20379|     f|              1|   null|                5|                59|
|      49017|     f|              1|     35|             null|                50|
+-----------+------+---------------+-------+-----------------+------------------+

In [255]:
df_pyspark.filter("avg_training_score<=50" and "gender=='f'").select(['employee_id','avg_training_score']).show()

+-----------+------------------+
|employee_id|avg_training_score|
+-----------+------------------+
|      65438|                49|
|      20379|                59|
|      49017|                50|
+-----------+------------------+

In [258]:
#another way to show 
df_pyspark.filter((df_pyspark["avg_training_score"]<=50)).show()

+-----------+------+---------------+-------+-----------------+------------------+
|employee_id|gender|no_of_trainings|New_age|length_of_service|avg_training_score|
+-----------+------+---------------+-------+-----------------+------------------+
|      65438|     f|              1|     35|                8|                49|
|       7513|     m|              1|     34|                7|                50|
|       2542|     m|              2|     39|               10|                50|
|      49017|     f|              1|     35|             null|                50|
|       null|  null|              1|     49|                5|                49|
|      17436|     m|              1|     34|                8|                46|
+-----------+------+---------------+-------+-----------------+------------------+

In [257]:
#Inverse filter operation for above command
df_pyspark.filter(~(df_pyspark["avg_training_score"]<=50)).show()

+-----------+------+---------------+-------+-----------------+------------------+
|employee_id|gender|no_of_trainings|New_age|length_of_service|avg_training_score|
+-----------+------+---------------+-------+-----------------+------------------+
|      65141|     m|              1|     30|                4|                60|
|      48945|     m|              1|     45|                2|                73|
|      58896|     m|              2|     31|                7|                85|
|      20379|     f|              1|   null|                5|                59|
|      16290|     m|              1|     33|                6|                63|
|      73202|     m|              1|     28|                5|                83|
|      28911|     m|              1|     32|                5|                54|
|      29934|     m|              1|     30|                1|                77|
|      77040|     m|              1|     37|                7|                84|
|      43931|     m|              1|     37|               10|                60|
|       7152|     m|           null|     38|                5|                77|
|       9403|     m|              1|     34|                4|                51|
+-----------+------+---------------+-------+-----------------+------------------+

# Group by Clause

In [260]:
## Groupby
### Grouped to find the maximum salary
df_pyspark.groupBy('gender').avg().show()
#avg() and mean() in same
#one can use count(), sum() similarly

+------+------------------+--------------------+------------------+----------------------+-----------------------+
|gender|  avg(employee_id)|avg(no_of_trainings)|      avg(New_age)|avg(length_of_service)|avg(avg_training_score)|
+------+------------------+--------------------+------------------+----------------------+-----------------------+
|     m| 34982.46666666667|  1.2142857142857142|34.733333333333334|     6.466666666666667|      65.21428571428571|
|  null|              null|                 1.0|              49.0|                   5.0|                   49.0|
|     f|44944.666666666664|                 1.0|              35.0|                   6.5|     52.666666666666664|
+------+------------------+--------------------+------------------+----------------------+-----------------------+

In [267]:
df_pyspark.groupBy('gender').mean().show()

+------+------------------+--------------------+------------------+----------------------+-----------------------+
|gender|  avg(employee_id)|avg(no_of_trainings)|      avg(New_age)|avg(length_of_service)|avg(avg_training_score)|
+------+------------------+--------------------+------------------+----------------------+-----------------------+
|     m| 34982.46666666667|  1.2142857142857142|34.733333333333334|     6.466666666666667|      65.21428571428571|
|  null|              null|                 1.0|              49.0|                   5.0|                   49.0|
|     f|44944.666666666664|                 1.0|              35.0|                   6.5|     52.666666666666664|
+------+------------------+--------------------+------------------+----------------------+-----------------------+

In [266]:
df_pyspark.agg({'length_of_service':'sum'}).show()

+----------------------+
|sum(length_of_service)|
+----------------------+
|                   115|
+----------------------+